.main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 0 20px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  color: rgb(241, 224, 192);
  gap: 10px;
  padding: 0;
  margin: 30px auto;
}

.pageItem {
  cursor: pointer;
  transition: 0.2s linear;
}

.pageItem:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pageItem:active {
  transform: scale(0.8);
  cursor: pointer;
}

.pageLink {
  transition: 0.2s linear;
  cursor: pointer;
}

.pageLink:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pageLink:active {
  transform: scale(0.8);
  cursor: pointer;
}

.active {
  color: rgb(189, 124, 3);
}
