@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Chakra Petch', Arial, sans-serif;
}
